<?xml version="1.0"?>
<robot name="1-spherical_hopper">

  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.009" ixy="0" ixz="0" iyy="0.009" iyz="0" izz="0.009"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.15"/>
      </geometry>
      <material name="light_blue">
        <color rgba="0.4 0.4 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.15"/>
      </geometry>
    </collision>
  </link>

  <link name="leg">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.5"/>
      <inertia ixx="0.024" ixy="0" ixz="0" iyy="0.024" iyz="0" izz="0.024"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.2"/>
      </geometry>
      <material name="dark_blue">
        <color rgba="0.1 0.1 0.8 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.2"/>
      </geometry>
    </collision>
  </link>

  <joint name="leg_joint" type="spherical">
    <parent link="base_link"/>
    <child link="leg"/>
    <origin xyz="0 0 -0.35" rpy="0 0 0"/>
    <axis xyz="0 0 0"/>
    <limit effort="60" velocity="6.0"/>
    <dynamics damping="1.0" friction="0.5"/>
  </joint>

</robot>